/* Base styles for navigation */

.image-container {
    text-align: center; /* Center the image horizontally */
}
img {
    max-height: 120px; /* Ensure the image does not exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra spacing */
    margin: 0 auto; /* Center the image horizontally */
}
.navigation {
    position: fixed;
    background-color: #9eecff;
    width: 100%;
    z-index: 1000;
    animation: fadeIn 0.5s;
    left:0px;
    bottom: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width:20%;
    cursor: pointer;
}

.nav-item a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item i {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Active icon styles */
.active{
    background-color: greenyellow;
    border:2px solid #333
     /* Green background for active item */
}
.active a{
    color: #333;
     /* Green background for active item */
}

/* Mobile-specific styles */
@media (max-width: 767px) {
    .nav-item span {
        display: none;
    }
    /* Tooltips */
    .tooltip {
        visibility: hidden;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .nav-item:hover .tooltip {
        visibility: visible;
    }

    .nav-name {
        display: none;
    }

    .nav-item:hover .nav-name {
        display: block;
        font-weight: bolder;
        color:black;
        font-size: 12px;
        margin-top: 5px;
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
